# --- Seeed Studio XIAO ESP32-S3 ---
CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y

# Consola por el USB nativo de la placa
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# Particiones: una sola app grande (el stack BLE no cabe en 1M)
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# --- Bluetooth LE (NimBLE). El ESP32-S3 no tiene Bluetooth Classic. ---
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_ROLE_CENTRAL=n
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1

# Stack del main task
CONFIG_ESP_MAIN_TASK_STACK_SIZE=7168

CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
CONFIG_BOOTLOADER_LOG_LEVEL=2
